PORT=5000
MONGO_URI="mongodb+srv://ajiboyesamueladebayo:Aji&2001@mern-estate.9crt2.mongodb.net/gridspace"
JWT_SECRET=your_super_secret
JWT_EXPIRES=7d

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

LOG_LEVEL=debug
CORS_ORIGIN=http://localhost:3000

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:5000/api/auth/google/callback
FRONTEND_URL=http://localhost:3000

MAILERSEND_API_KEY=mlsn.d0bc6d65e06cff9e77de4d20604a1d6aa3bfe7aa5bfc8c82e797c6c544393a9d
MAILERSEND_FROM_EMAIL=info@gridspace.com.ng
MAILERSEND_FROM_NAME=GridSpace
